.header-container{
    background-image: url('../../../images/image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:800px;
    position:relative;
    /* opacity: 0.7; */
}
.details{
    opacity: 1;
}